nav {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  height: 100px;
  background-color: #040404;
  border-bottom: 1px solid #44d62b;
  padding-bottom: 15px;
  /* padding-top: 15px; */
  margin-bottom: 10px;
}

nav div {
  /* justify-content: center; */
  text-align: center;
  height: 100%;
}

.navProducts {
  height: 100%;
}
.navProducts div {
  height: 30%;
}
.navUser {
  display: grid;
  grid-template-columns: 1fr;
}

.Login {
  margin-top: 10px;
}

.Login form {
  display: grid;
  grid-template-columns: 1fr;
  width: 85%;
  grid-template-rows: 1fr 1fr 1fr;
}

.Login form div {
  height: 30px;
  text-align: center;
}

.Login form button {
  width: 40%;
  margin-left: 30%;
}

.loginButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.loggedIn {
  margin-top: -15px;
}

.cart {
  margin-top: 10px;
}
