nav {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  height: 100px;
  border: 1px solid blue;
}

nav div {
  /* justify-content: center; */
  text-align: center;
  height: 100%;
}

a {
  text-decoration: none;
}

.navUser {
  display: grid;
  grid-template-columns: 1fr;
}

.Login form {
  display: grid;
  grid-template-columns: 1fr;
  width: 85%;
  grid-template-rows: 1fr 1fr 1fr;
}

.Login form div {
  height: 30px;
  text-align: center;
}

.Login form button {
  width: 40%;
  margin-left: 30%;
}
