body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  width: 85%;
  justify-content: center;
  margin-left: 7.5%;
  margin-right: 7.5%;
  background-color: #111111;
  height: 800px;
}
.App {
  justify-content: center;
  text-align: center;
  background-color: #252525;
  color: #44d62b;
}
a {
  text-decoration: none;
  color: #44d62b;
}
button {
  width: 150px;
}
/* div {
  border: 1px solid black;
} */
